$menu: #4d4959;
$logo: #7fcbaf;
$h1: #353738;
$p: #848789;
$white: white;
$main: #848789;
$circle: #a9afb3;
$beat: #282f35;
$emailPlace: #c8c8c8;
$emailBorder: #d3d7d9;
$lastBcg: #f7f7f7;
$go: #64c29e;
$h1Size: f;
$pSize:f;